In [95]:
import pandas as pd  # importing package pandas 
import numpy as np   # importing package numpy

In [96]:
filepath = 'Uber Request Data.csv' # initialising the path of csv file to variable called filepath

In [97]:
Uberdf = pd.read_csv(filepath, sep = ',') # reading the dataset and seperating each column with comma(,).
Uberdf

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
0,619,Airport,1.0,Trip Completed,11/7/2016 11:51,11/7/2016 13:00
1,867,Airport,1.0,Trip Completed,11/7/2016 17:57,11/7/2016 18:47
2,1807,City,1.0,Trip Completed,12/7/2016 9:17,12/7/2016 9:58
3,2532,Airport,1.0,Trip Completed,12/7/2016 21:08,12/7/2016 22:03
4,3112,City,1.0,Trip Completed,13-07-2016 08:33:16,13-07-2016 09:25:47
...,...,...,...,...,...,...
1996,1041,Airport,NaN,No Cars Available,11/7/2016 19:34,NaN
1997,1043,Airport,NaN,No Cars Available,11/7/2016 19:34,NaN
1998,1038,Airport,NaN,No Cars Available,11/7/2016 19:35,NaN
1999,1047,Airport,NaN,No Cars Available,11/7/2016 19:39,NaN
2000,1045,City,NaN,No Cars Available,11/7/2016 19:40,NaN

In [98]:
Uberdf.shape # Knowing the number of columns and rows in the dataset using shape function

(2001, 6)

In [99]:
Uberdf.isnull().sum() # Checking for null values in the dataset using isnull() function and getting count of null values using 
# sum() function.

Request id             0
Pickup point           0
Driver id            346
Status                 0
Request timestamp      0
Drop timestamp       841
dtype: int64

In [100]:
Uberdf.fillna(0, inplace = True) # Filling the null vlaues in the dataset with 0 using fillna() function.

In [101]:
Uberdf.isnull().sum() # Verifying that there are no null values.

Request id           0
Pickup point         0
Driver id            0
Status               0
Request timestamp    0
Drop timestamp       0
dtype: int64

In [102]:
Uberdf.duplicated().sum() # Checking for duplicates in the dataset using duplicated() function and getting count of it using 
# sum() function.

0

In [103]:
Uberdf.head() # prints the top 5 rows in the datset

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
0,619,Airport,1.0,Trip Completed,11/7/2016 11:51,11/7/2016 13:00
1,867,Airport,1.0,Trip Completed,11/7/2016 17:57,11/7/2016 18:47
2,1807,City,1.0,Trip Completed,12/7/2016 9:17,12/7/2016 9:58
3,2532,Airport,1.0,Trip Completed,12/7/2016 21:08,12/7/2016 22:03
4,3112,City,1.0,Trip Completed,13-07-2016 08:33:16,13-07-2016 09:25:47

In [104]:
Uberdf['Request timestamp'] = pd.to_datetime(Uberdf['Request timestamp']) # Using to_datetime() function get the Request 
# timestamp column values into date and time format.
Uberdf['Drop timestamp'] = pd.to_datetime(Uberdf['Drop timestamp']) # Using to_datetime() function get the Drop timestamp 
# column values into date and time format.

In [105]:
Uberdf.head() # checking the format of the Request and Drop timestamp

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
0,619,Airport,1.0,Trip Completed,2016-11-07 11:51:00,2016-11-07 13:00:00
1,867,Airport,1.0,Trip Completed,2016-11-07 17:57:00,2016-11-07 18:47:00
2,1807,City,1.0,Trip Completed,2016-12-07 09:17:00,2016-12-07 09:58:00
3,2532,Airport,1.0,Trip Completed,2016-12-07 21:08:00,2016-12-07 22:03:00
4,3112,City,1.0,Trip Completed,2016-07-13 08:33:16,2016-07-13 09:25:47

In [106]:
Uberdf.columns.values.tolist() # Converting the columns in csv file to list using tolist() fuction.

['Request id',
 'Pickup point',
 'Driver id',
 'Status',
 'Request timestamp',
 'Drop timestamp']

In [107]:
Uberdf.dtypes # knowing the datatype of each column in the dataset.

Request id                    int64
Pickup point                 object
Driver id                   float64
Status                       object
Request timestamp    datetime64[ns]
Drop timestamp       datetime64[ns]
dtype: object

In [108]:
Uberdf['Ride duration'] = Uberdf['Drop timestamp'] - Uberdf['Request timestamp'] # Generating the new column called ride duration
# which stores the value of that we get from subtarcting the value of Drop timestamp with Request timestamp.

In [109]:
Uberdf.head() # prints the first 5 rows of dataset with the new column i.e. ride duration.

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp,Ride duration
0,619,Airport,1.0,Trip Completed,2016-11-07 11:51:00,2016-11-07 13:00:00,0 days 01:09:00
1,867,Airport,1.0,Trip Completed,2016-11-07 17:57:00,2016-11-07 18:47:00,0 days 00:50:00
2,1807,City,1.0,Trip Completed,2016-12-07 09:17:00,2016-12-07 09:58:00,0 days 00:41:00
3,2532,Airport,1.0,Trip Completed,2016-12-07 21:08:00,2016-12-07 22:03:00,0 days 00:55:00
4,3112,City,1.0,Trip Completed,2016-07-13 08:33:16,2016-07-13 09:25:47,0 days 00:52:31

In [110]:
Uberdf['Status'].value_counts() # Using value_counts() fucntion to get the count of Trip completed, cancelled, no car available 
# categories of status column.

Trip Completed       1160
Cancelled             495
No Cars Available     346
Name: Status, dtype: int64

In [111]:
def period(x): # creating function called period.
    if(x<5):   # if the ride request is before 5:00 AM 
        return("Pre Morning") # prints Pre Morning
    elif((x>=5)&(x<=9)): # if the ride request is between 5:00 AM and 9:00 AM
        return("Early Morning") # prints Early Morning
    elif((x>9)&(x<=12)): # if the ride request is between 9:00 AM and 12:00 PM
        return("Pre Noon") # prints Pre Noon
    elif((x>12)&(x<=17)): # if the ride request is between 12:00 PM and 17:00 PM
        return("Day time") # prints Day time
    elif((x>17)&(x<=21)):  # if the ride request is between 17:00 PM and 21:00 AM
        return("Evening") # prints Evening
    else:
        return("Late Night") # prints Late Night
Uberdf['Request period']=Uberdf["Request timestamp"].dt.hour.apply(period) # Using dt.hour.apply() I am taking only hour 
# from time format of Request period column and apply it on above if else loop.  
Uberdf.head()

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp,Ride duration,Request period
0,619,Airport,1.0,Trip Completed,2016-11-07 11:51:00,2016-11-07 13:00:00,0 days 01:09:00,Pre Noon
1,867,Airport,1.0,Trip Completed,2016-11-07 17:57:00,2016-11-07 18:47:00,0 days 00:50:00,Day time
2,1807,City,1.0,Trip Completed,2016-12-07 09:17:00,2016-12-07 09:58:00,0 days 00:41:00,Early Morning
3,2532,Airport,1.0,Trip Completed,2016-12-07 21:08:00,2016-12-07 22:03:00,0 days 00:55:00,Evening
4,3112,City,1.0,Trip Completed,2016-07-13 08:33:16,2016-07-13 09:25:47,0 days 00:52:31,Early Morning

In [112]:
# Uberdf.to_csv('Uber_Request_Data_V2.csv') # Saving the output into new csv file

In [113]:
Uberdf['Request period'].value_counts() # getting the count of the ride request during the different Request period.

Early Morning    770
Evening          418
Day time         331
Pre Noon         199
Pre Morning      167
Late Night       116
Name: Request period, dtype: int64

In [114]:
counts_reqperiod=pd.pivot_table(Uberdf,index='Request period',columns='Status',values='Request id',aggfunc='count') 
# Using pivot on the datset where getting count for each category of request period (on y-axis) with three different categories
# of status column (on x-axis).  
print(counts_reqperiod) # prints the table.

Status          Cancelled  No Cars Available  Trip Completed
Request period
Day time             46.0               74.0           211.0
Early Morning       327.0               82.0           361.0
Evening              50.0              111.0           257.0
Late Night           10.0                NaN           106.0
Pre Morning          24.0               56.0            87.0
Pre Noon             38.0               23.0           138.0

In [115]:
counts_pickup=pd.pivot_table(Uberdf,index='Pickup point',columns='Status',values='Request id',aggfunc='count')
# Using pivot on the datset where getting count for each category of pickup point (on y-axis) with three different categories
# of status column (on x-axis).  
print(counts_pickup) # prints the table

Status        Cancelled  No Cars Available  Trip Completed
Pickup point
Airport              78                206             547
City                417                140             613

In [116]:
req_by_pickup_period= pd.pivot_table(Uberdf,columns='Status',index=('Pickup point','Request period'),values='Request id',aggfunc='count')
# Using pivot on the datset where getting count for each category of pickup point and segregating with each category of request 
# period (on y-axis) with three different categories of status column (on x-axis).  
req_by_pickup_period

Status                       Cancelled  No Cars Available  Trip Completed
Pickup point Request period
Airport      Day time             24.0               57.0            94.0
             Early Morning         9.0                2.0           156.0
             Evening              34.0              108.0           130.0
             Late Night            1.0                NaN            64.0
             Pre Morning           1.0               30.0            39.0
             Pre Noon              9.0                9.0            64.0
City         Day time             22.0               17.0           117.0
             Early Morning       318.0               80.0           205.0
             Evening              16.0                3.0           127.0
             Late Night            9.0                NaN            42.0
             Pre Morning          23.0               26.0            48.0
             Pre Noon             29.0               14.0            74.0

In [117]:
# req_by_pickup_period.to_csv('Count_of_Pickup_Point_with_seperate_Request_period.csv') # Saving the output into new csv file